<as-split direction="vertical">
  <as-split-area size="19.1">
    <as-split direction="horizontal">
      <as-split-area size="19.1">
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <!-- Add more options here -->
          </mat-select>
        </mat-form-field>
      </as-split-area>
      <as-split-area size="50">

      </as-split-area>
      <as-split-area size="30.9">

      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area size="50">
    <as-split direction="horizontal">
      <as-split-area size="19.1">
      </as-split-area>
      <as-split-area size="50" style="overflow-x: scroll;">
        <svg width="1000" height="1000" style="position: absolute">
          <defs>
            <radialGradient id="fadeGradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
              <stop offset="0%" style="stop-color:rgb(247, 177, 177);stop-opacity:0.6" />
              <stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:0.2" />
            </radialGradient>
          </defs>
          <rect x="0" y="0" width="1500" height="9150" fill="url(#fadeGradient)" />
          <rect x="50" y="30" width="1000" height="100" style="fill:red; fill-opacity: 0.2;" />
          <rect x="50" y="200" width="1000" height="900" style="fill:blue; fill-opacity: 0.2;" />
        </svg>
      </as-split-area>
      <as-split-area size="30.9">
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area size="30.9">
    <as-split direction="horizontal">

      <as-split-area size="19.1">

      </as-split-area>
      <as-split-area size="50">

      </as-split-area>

      <as-split-area size="30.9">

      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>